@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Space+Mono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(182, 182, 182);
    margin: 0;
    border: 0;
}

a,
a:visited,
a:hover {
    color: black;
}

* {
    margin: 0;
    border: 0;
}

.header {
    width: 100%;
    height: 70px;
}

.home {
    font-size: 50px;
    margin: 10px;
}

.home:hover {
    cursor: pointer;
    margin: 0;
    font-size: 55px;
    position: absolute;
    transition: all .3s ease;
}

.main-container {
    display: flex;
    top: 70px;
    width: 100%;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.main-container img {
    margin: auto;
    height: 40%;
    width: 40%;
}

img.i2 {
    height: 50%;
    width: 50%;
}

img.i1 {
    height: 70%;
    width: 70%;
}